<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <%= link_to "Cats of Disney", root_path %>
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      <%= link_to "#{current_user.name.capitalize}", user_path(current_user) %>
      &nbsp;&nbsp;&nbsp;
  </nav>
</header>

<body>
<div class="history">
 <div>From a Cat’s Point of View</div>

The Disneyland Cats have been around for as long as any of us can remember.
Our ancestors lived in Sleeping Beauty Castle before we were unceremoniously evicted.
Ever since then, we’ve prowled the streets and walkways of Disneyland (and more recently Disney California Adventure).
When it comes right down to it, we run the place. Without us, rodents would run amuck and the entire population of Disneyland
would be a lot less cute. We put up with the humans visiting our quarters, but only because they leave at night. There are
magical food stations positioned for us all around the property, and we get to eat whenever we like. Nowhere is off limits to us.
Disneyland is OUR land. And we try our best to forget it was “all started by a mouse.”

<div>
 &nbsp;&nbsp;&nbsp;
  <div>From a Human’s Point of View</div>

(* Note: Remember to take everything humans say with a grain of salt. They’re not the brightest.)

It’s impossible to pinpoint exactly when the first cats started to appear on Disneyland property, but there have been sightings going as far back as 1955. Soon after Disneyland opened, Walt decided that there should be an attraction inside of the park’s most prominent “weenie,” Sleeping Beauty Castle. When he brought imagineers into the castle to begin the planning process for what would eventually become the Castle Walkthrough attraction, he was greeted by quite the sight—scores of feral cats had set up a home for themselves inside the building. Not only that, but the cats had brought with them an infestation of fleas. It became clear that something needed to be done about the cats, but the Disney company knew they couldn’t exactly “eliminate” the problem without considerable uproar from guests. The immediate solution was to adopt out all the cats to cast members, ensure them good homes, and so free up some valuable real estate.
They dealt with the flea problem as quickly as possible too.
Meanwhile, being an outdoor theme park with lands meant to simulate rustic situations, Disneyland had developed a bit of a rodent problem. While the irony was lost on no one in the company, Disneyland had mice running around—and we’re not talking about Mickey and Minnie. There were also still plenty of feral cats on property who hadn’t set up shop in the castle. The cats were smart and realized they’d found a decent hunting ground on a property that was free of all the typical dangers stray cats have to face. They were able to emerge at night to a relatively empty park, and they could hunt in peace.

It was around this time that someone in the Disney company must have had a pretty brilliant idea. The cats weren’t bothering anyone—feral cats, by nature, are scared of humans—and they were doing a much better job with pest control than any human exterminators were likely to do. So the cats were put to work. More accurately, they were allowed to continue doing the work they were already doing, but now it was with Disney’s blessing, and some payment.
</div>




</div>


</body>

