
.container {
  //   border: 1px solid black;
  // border-radius: 5px 5px;
  // display: inline-block;
  overflow: hidden;
  position: relative;
  max-height: 200px;
  max-width: 200px;

}

.container img {
  width: 90%;
  height: auto;
}

.imageFeed {
  margin-top: 46px;
}

.posterName{
  color: blue;
}

.singleFeed {
  border: 1px solid gray;
  // margin-right: 40%;
  // margin-left: 40%;
}



// .navbar-nav.navbar-right:last-child { margin: 0; }
// .navbar-default { background-color: white; }
// .navbar-toggle,
// .navbar-toggle:hover {
//   border: none;
//   background: none;

//   .icon-bar { height: 3px; }
// }

// .navbar-nav a {
//   text-transform: uppercase;
//   font-size: 14px;
//   color: #999;
//   padding: 5px 20px;
//   letter-spacing: .11em;
//   margin-bottom: -1px;
// }

