
.panel panel-default {
  margin-right: 169px;
  margin-left: 169px;
}


.posterName{
  color: #FF6B6B;
}



.singleFeed {
border: 1px solid black;
display: inline-block;
}



#firstblock {
  background-color: pink;
  padding-left: 40%
}

.space {
  max-width: 40%;
  max-height: 40%;
  // display: inline-block;
  position: center;
}

#welcome {
  padding-top: 3%;
}
