
.panel panel-default {
  margin-right: 169px;
  margin-left: 169px;
}


.posterName{
  color: #FF6B6B;
}



.singleFeed {
border: 1px solid black;
display: inline-block;
}

.disneyimage {
  background: url("cats_of_disney.png");
  width: 1000px;
  height: 600px;
  background-size: cover;
}

#firstblock {
  background-color: pink;
  padding-left: 40%
}

