#image {
  overflow: hidden;
  position: relative;
  max-height: 130px;
  max-width: 200px;
  display: inline-block
}

#image img {
  width: 90%;
  height: auto;
}

.profile {
  border: 1px solid black;
  display: inline-block;
}
